body{
    padding: 2%;
    margin:5%;
    line-height: 1.5;
    background-color: #E5E0FF;
    background-image: linear-gradient(0deg, rgb(225, 168, 239), #E5E0FF);
    font-family: 'EB Garamond', serif;
    font-size: 120%;
    display: grid;
    grid-template-columns: 100%;
}

.container{ 
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
  }

.column {
    float: left;
    width: 50%;
  }

li{ display: flex;
}

nav ul li{
    display: flex;
    margin: auto;
    justify-content: left;
    padding: 10px;
    font-size: 25px;
    text-underline-offset: 10px;
}

.jump{
    left:-999px;
    position:absolute;
    z-index:-999;
}       

.active{
    color: rgb(39, 136, 17);
    border: solid 3px;
    padding: 10px;
    text-transform: uppercase;
}

h1{
	text-align: center;
	font-size: 45px;
	padding: 15px;
}

@keyframes drop {
    0%   {top:-200px;}
    100% {top:1px;}
}

h1{
    position: relative;
    animation-name: drop;
    animation-duration: 3s;
}

h2{
	font-size: 30px;
	color: #0d0d0dc7;
}

h3{
    font-size: 22px;
}

dt{
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 15px;
}

img:hover{
    box-shadow: 10px 10px gray; 
}

img{
    width: 45%;
    padding: 0px;
    margin: auto;
    border-radius: 10px;
}

img:nth-of-type(odd) {
    border: ridge #f3de77 16px;
}

img:nth-of-type(even) {
    border: ridge silver 16px;
}

.skip{
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left:0px
}

p{
    line-height: 1.5;
    background-image: url("../images/paper.jpg"); 
    background-size: cover;
    background-color: #E5E0FF;
}

/* How to apply background image to only literature and history? Or is that bad practice? */

@media (prefers-reduced-motion: reduce){
    @keyframes drop {
        0%   {top:1px;}
        100% {top:1px;}
    }}

@media screen and (min-width: 776px){

    nav ul li{
        display: inline-block; 
    }

    ::selection{
        color: white;
        background: black;
    }

    .grid > div{
        max-height: none;
    }

    /* Make this a two column grid. */
    .grid{
        grid-template-columns: 40%;
        
        /* Play with: */
        justify-content: space-around;
        align-items: center; 

    }}